* {
    margin: 0;
}

:root{
    background-color: skyblue;
}

.first {
    color: white;
    background-color: black;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.second {
    color: red;
    margin-top: 10px;
}

.thrid {
    display: block;
}

.pink {
    background-color: pink;
    padding: 10px;
    width: 250px;
    font-size: 10px;
}

.grey {
    background-color: slategray;
    padding: 10px;
    width: 250px;
    font-size: 15px;
}

.white {
    background-color: white;
    padding: 10px;
    width: 250px;
    font-size: 20px;
}

